@use 'styles/fonts';
@use 'styles/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: clip;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: $font-main;
  background: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
}

body.body--menu-open {
  overflow-y: clip;
  touch-action: none;
}

body.body--dialog-open {
  overflow-y: clip;
}

a {
  text-decoration: none;
  color: inherit;
}
